<form action="/output" method="post">
    Name: <input type="text" name="ten" >
    <br>
    Age: <input type="number" name="tuoi" >
    <br>
    Email: <input type="email" name="email" >
    <br>
    DOB <input type="date" name="dob" >
    <br>
    <input type="submit" value="Confirm">
</form>